Move to css/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #1a1a1a;
}

header {
    text-align: center;
    padding: 20px 50px;
    background-color: #1a1a1a;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 20px; 
    color: #fff;
}

nav {
    display: flex;
    justify-content: center; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

/* Style pour les boutons de navigation */
.nav-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c0c5ca;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center; /* Centrer le texte */
    line-height: 1.5; /* Hauteur de ligne pour centrer verticalement */
}

/* Style pour le survol des boutons */
.nav-btn:hover {
    background-color: #0056b3; /* Nouvelle couleur au survol */
    transform: scale(1.1); /* Légère augmentation de la taille */
}

/* Style spécifique pour le bouton actif */
.nav-btn.active {
    background-color: #ff0000; /* Couleur différente pour le bouton actif */
    color: #ffffff; /* Couleur du texte */
    /* Autres styles si nécessaire */
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-image: url('ete-2.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

.profile h2 {
    margin: 0;
    font-size: 28px;
}

.profile-info h3 {
    margin: 10px 0;
    font-size: 24px;
}

.profile-info p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

.study {
    padding: 50px;
    background-color: #262626;
    text-align: center;
    color: #fff;
}

.study h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}

.study p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ccc;
}

.footer {
    padding: 20px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.footer p {
    margin: 5px 0;
}
