Move to css/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #1a1a1a;
}

header {
    text-align: center;
    padding: 20px 50px;
    background-color: #1a1a1a;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 20px; 
    color: #fff;
}

nav {
    display: flex;
    justify-content: center; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

/* Style pour les boutons de navigation */
.nav-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #aeafaf;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center; /* Centrer le texte */
    line-height: 1.5; /* Hauteur de ligne pour centrer verticalement */
}

/* Style pour le survol des boutons */
.nav-btn:hover {
    background-color: #0056b3; /* Nouvelle couleur au survol */
    transform: scale(1.1); /* Légère augmentation de la taille */
}
/* Style pour les boutons de navigation */
.nav-cpt {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0a4581;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center; /* Centrer le texte */
    line-height: 1.5; /* Hauteur de ligne pour centrer verticalement */
}

/* Style pour le survol des boutons */
.nav-cpt:hover {
    background-color: #0056b3; /* Nouvelle couleur au survol */
    transform: scale(1.1); /* Légère augmentation de la taille */
}



.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-image: url('../assets/images/ete-2.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

.profile h2 {
    margin: 0;
    font-size: 28px;
}

.profile-info h3 {
    margin: 10px 0;
    font-size: 24px;
}

.profile-info p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

.studies {
    padding: 50px 20px;
    background-color: #262626;
    text-align: center;
    color: #fff;
}

.studies h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.event {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event .icon {
    font-size: 24px;
}

.event .date {
    font-size: 16px;
}

.skills {
    display: flex;
    gap: 20px;
    padding: 50px 20px;
    background-color: #1a1a1a;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.skill {
    flex: 1;
    max-width: 300px;
}

.skill img {
    width: 100%;
    border-radius: 5px;
}

.skill h3 {
    margin-top: 10px;
}

.interests {
    padding: 50px 20px;
    background-color: #262626;
    text-align: center;
    color: #fff;
}

.interests h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.interests .interest {
    display: inline-block;
    margin: 10px;
}

.interests img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.contact {
    padding: 50px 20px;
    background-color: #1a1a1a;
    text-align: center;
    color: #fff;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p, .contact-info a {
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.contact-form button:hover {
    background: #45a049;
}

footer {
    padding: 20px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 5px 0;
}

/* Ajout de styles spécifiques pour la section des projets */
.projects {
    padding: 50px 20px;
    background-color: #262626;
    text-align: center;
    color: #fff;
}

.projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project {
    padding: 20px;
    background-color: #333;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project img {
    width: 100%;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    display: block;
}

.project h3 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.project p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #ccc;
}

.project ul {
    list-style-type: none;
    padding: 0;
}

.project ul li {
    font-size: 1em;
    margin: 5px 0;
    color: #ccc;
}
/* Styles pour améliorer les liens des projets */
.projects .project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement */
    border-radius: 5px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour le survol */
}

.projects .project a:hover {
    background-color: #45a049; /* Couleur de fond au survol */
    transform: scale(1.05); /* Augmentation de la taille au survol */
}

.projects .project a:active {
    background-color: #3e8e41; /* Couleur de fond lors du clic */
    transform: scale(1); /* Réduction de la taille lors du clic */
}
